<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Csharp_omap_client.Properties.Settings.DataRecoverConnectionString"
        connectionString="Data Source=172.17.133.121;Initial Catalog=DataRecover;User ID=sa"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
